<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="transform: translateX(0%);">
    <li class="no-padding">
      <ul class="collapsible expandable" data-collapsible="accordion">
        <li class="bold">
          <a href="" class="waves-effect waves-light red darken-2 white-text">
            <i class="fa fa-plus white-text"></i>
            <span class="nav-text">Order Food</span>
          </a>
        </li>
        <li class="bold">
          <a href="" class="waves-effect white red-text text-darken-2">
            <i class="material-icons red-text text-darken-2">restaurant_menu</i>
            <span class="nav-text">Restaurants</span>
          </a>
        </li>
        <li class="bold">
          <a href="" class="waves-effect white red-text text-darken-2">
            <i class="fa fa-file-invoice red-text text-darken-2"></i>
            <span class="nav-text">Orders</span>
          </a>
        </li>
        <li class="bold">
          <a href="" class="waves-effect white red-text text-darken-2">
            <i class="fa fa-users red-text text-darken-2"></i>
            <span class="nav-text">Users</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only amber darken-4">
    <i class="material-icons">menu</i>
  </a>
</aside>