<% content_for :dashboard_title do %>
<% end %>

<% content_for :dashboard_header do %>
  <%= render 'header' %>
<% end %>

<% content_for :dashboard_sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<% content_for :dashboard_content do %>
  <section id="content">
    <!--start container-->
    <div class="container">
      <h3>PROFILE</h3>
    </div>
    <!--end container-->
  </section>
<% end %>