<% content_for :title do %>
  Welcome
<% end %>

<div class="landing-content">
  <div class="landing-container">
    <h1 class="landing-container-heading white-text">
      <i class="fa fa-utensils"></i>GO-FEED
    </h1>
    <a class="btn waves-effect waves-light red darken-2">JOIN US!</a>
    <a class="btn waves-effect waves-red white red-text text-darken-2">LOG IN</a>
  </div>
</div>