@import "../base/globals.scss";

.register {
  &-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
    linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
    ),
    url('https://images.unsplash.com/photo-1483732594212-58fdd5ef8f31?ixlib=rb-0.3.5&s=9198fe0d955c499a11851ac38f6806fc&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    width: 65%;
    max-width: 900px;
    @media only screen and (max-width: 1200px) {
      width: 75%;
    }
    @media only screen and (max-width: 810px), (orientation: portrait) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media only screen and (max-width: 450px) {
      width: 90%;
      padding: 2rem;
    }
  }
  &-heading{
    border-right: solid thin;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media only screen and (max-width: 450px) {
      align-items: center;
      padding-right: 0;
      border-right: none;
    }
    &-logo {
      font-family: $logo-font;
      font-weight: bold;
      margin: 0;
      .fa {
        margin-right: 1.5rem;
        @media only screen and (max-width: 992px) and (min-width: 810px), (max-width: 600px){
          display: none;
        }
      }
      @media only screen and (max-width: 450px) {
        font-size: 3rem;
      }
    }
    &-title {
      font-family: $heading-font;
      margin: 0;
      text-align: right;
      font-size: 1.5rem;
      @media only screen and (max-width: 450px) {
        font-size: 1.5rem;
      }
    }
  }
  &-form {
    padding-bottom: 1rem;
    button[type=submit] {
      @media only screen and (max-width: 450px) {
        width: 100%;
      }
    }
  }
}
